@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Dosis:400,700);
/* Variables */
/*-------------------------------------------------*\
	#GENERAL
\*-------------------------------------------------*/
/* Typography */
p, span, a, li {
  font-family: "Lato", sans-serif;
  font-size: 1.3em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
  font-weight: 700; }

/*-------------------------------------------------*\
	#HEADER
\*-------------------------------------------------*/
header #logo h2 {
  margin-top: 0;
  margin-left: 15px; }
header #logo img {
  width: 85%; }
header nav {
  overflow: hidden; }
header ul {
  list-style-type: none;
  float: right;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  header ul li {
    float: left; }
    header ul li a {
      display: block;
      padding: 57px 20px;
      color: #6B5F51;
      font-size: 1em;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none; }
      header ul li a:hover {
        text-decoration: none;
        color: white; }
      header ul li a:hover:not(.active) {
        color: #6CBD45; }
header .active {
  background-color: #4CAF50;
  color: white; }

/*-------------------------------------------------*\
	#MAIN
\*-------------------------------------------------*/
main {
  padding-bottom: 30px; }
  main .slider {
    height: 350px; }
  main .slider .motto {
    position: relative;
    top: 10%; }
    main .slider .motto h1 {
      font-size: 5em;
      color: #6CBD45; }
    main .slider .motto p {
      font-size: 2em;
      font-weight: 700;
      color: white; }

.slider .motto h1, .slider p {
  color: white; }

.slider .motto h1 {
  font-size: 5em;
  color: #6CBD45; }

.slider .motto p {
  font-size: 2em;
  font-weight: 700; }

.slider.home {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/slideHome.jpg);
  -webkit-background-size: 100%;
  background-repeat: no-repeat; }

.services {
  text-align: left; }

.services .fa {
  color: #6CBD45;
  font-size: 10em; }

.services .head {
  text-align: center; }

/*-------------------------------------------------*\
	#FOOTER
\*-------------------------------------------------*/
footer {
  text-align: center;
  background-color: darkgrey;
  margin-top: 20px;
  padding: 30px 0; }

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

footer ul.vertical li {
  display: inline-block;
  padding: 0px 15px; }

/*-------------------------------------------------*\
	#MEDIA QUERIES
\*-------------------------------------------------*/
/* Smartphones */
@media screen and (max-width: 360px) {
  /* Header */
  header #logo h2 {
    text-align: center;
    margin-left: 0; }

  header #logo img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; }

  header ul {
    width: 100%;
    margin: 0;
    padding: 0; }

  header ul li {
    width: 100%; }

  header ul li a {
    padding: 10px 0; }

  /* Main */
  .slider {
    height: 200px;
    background-size: 100% auto;
    background-position: center top; }

  .slider .motto {
    top: -3%; }

  .slider .motto h1 {
    font-size: 3em; }

  .slider .motto p {
    font-size: 1.5em; }

  /* Footer */
  footer h3 {
    margin-top: 45px; } }
/* Tablets and small devices < 768px */
@media screen and (min-width: 361px) and (max-width: 768px) {
  /* Header */
  header {
    margin-bottom: 0; }

  header #logo h2 {
    text-align: left; }

  header #logo img {
    width: 40%; }

  /* Main */
  main {
    padding: 0; } }

/*# sourceMappingURL=stile.css.map */
