@import url(https://fonts.googleapis.com/css?family=Raleway:400,700|Montserrat:400,700);
/* Colors */
/* Fonts */
/* Margins and paddings and whatever */
/* Mixins */
/*-------------------------------------------------*\
	#GENERAL
\*-------------------------------------------------*/
/* Typography */
p, span, a, li {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

/* Misc elements */
.pulsante {
  display: block;
  width: 50%;
  padding: 10px 15px;
  margin: 0 auto;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  background-color: darkgrey; }

a.link {
  text-decoration: none;
  color: inherit;
  border-bottom: 3px solid #9eef77;
  box-shadow: 0px -5px 0px #9eef77 inset; }
  a.link:hover, a.link:active {
    text-decoration: none;
    color: inherit;
    background: #9eef77 none repeat scroll 0% 0%; }

.circle {
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 50%;
  background-color: #6CBD45;
  color: white;
  font-size: 40px;
  font-weight: bold; }
  .circle.gray {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 50%;
    background-color: darkgrey; }

label {
  width: 100%; }

select {
  width: 100%;
  padding: 5px;
  font-size: 16px; }

input[type=submit] {
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 30px;
  padding: 20px;
  background-color: #6CBD45;
  color: white;
  font-weight: 700;
  font-size: 32px; }

/*-------------------------------------------------*\
	#HEADER
\*-------------------------------------------------*/
header #logo h2 {
  margin-top: 0;
  margin-left: 15px; }
header #logo img {
  width: 85%; }
header ul {
  list-style-type: none;
  float: right;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  header ul li {
    float: left; }
    header ul li a {
      display: block;
      padding: 80px 20px;
      color: #6B5F51;
      font-size: 1em;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none; }
      header ul li a:hover, header ul li a.link:active {
        text-decoration: none;
        color: white; }
      header ul li a:hover:not(.active), header ul li a.link:not(.active):active {
        color: #6CBD45; }
header .active {
  background-color: #4CAF50;
  color: white; }

/*-------------------------------------------------*\
	#MAIN
\*-------------------------------------------------*/
main h1.titolo {
  text-align: center;
  margin-bottom: 30px; }
main #map {
  border-top: 2px rgba(108, 189, 69, 0.3) solid;
  border-bottom: 2px rgba(108, 189, 69, 0.3) solid; }
main .slider {
  height: 350px; }
  main .slider .motto {
    position: relative;
    top: 10%; }
    main .slider .motto h1 {
      font-size: 4em;
      color: #6CBD45; }
    main .slider .motto p {
      font-size: 2em;
      font-weight: 700;
      color: white; }
  main .slider.home {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/slideHome.jpg);
    -webkit-background-size: 100%;
    background-repeat: no-repeat; }
    main .slider.home a {
      display: block;
      text-align: center;
      width: 50%;
      border-radius: 5px;
      border: 5px #6CBD45 solid; }
      main .slider.home a.callToAction {
        background-color: #6CBD45;
        padding: 15px 20px;
        margin-top: 30px;
        color: white;
        font-size: 26px;
        font-weight: 700; }
      main .slider.home a:hover, main .slider.home a.link:active {
        text-decoration: none;
        background-color: white;
        border: 5px #6CBD45 solid;
        color: #6CBD45; }
main .tabella {
  background-color: #9eef77;
  padding-bottom: 20px; }
main .risultati {
  text-align: center; }
  main .risultati h2 {
    font-size: 5em; }
main .services {
  text-align: center;
  margin-top: 30px; }
  main .services .fa {
    color: #6CBD45;
    font-size: 10em; }
  main .services .head {
    text-align: center; }
  main .services .service > section {
    text-align: center;
    border: 1px rgba(106, 95, 81, 0.5) solid;
    padding: 20px 40px;
    border-radius: 5px; }
    main .services .service > section p {
      text-align: justify; }

/*-------------------------------------------------*\
	#FOOTER
\*-------------------------------------------------*/
footer {
  text-align: center;
  color: white;
  background-image: url("/img/black_pattern.png");
  padding: 20px 0; }
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    footer ul.vertical li {
      display: inline-block;
      padding-top: 0;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 0; }

/*-------------------------------------------------*\
	#MEDIA QUERIES
\*-------------------------------------------------*/
/* Smartphones */
@media screen and (max-width: 360px) {
  /* Header */
  header #logo h2 {
    text-align: center;
    margin-left: 0;
    font-size: 21px; }
  header #logo img {
    width: 100%;
    display: block;
    margin: 0 auto; }

  /* Main */
  main .slider {
    height: auto;
    background-size: 100% auto;
    background-position: center top; }
    main .slider .motto {
      top: -3%; }
      main .slider .motto h1 {
        font-size: 3em; }
      main .slider .motto p {
        font-size: 1.5em; }
    main .slider.home a.callToAction {
      display: none; }

  /* Footer */
  footer h3 {
    margin-top: 45px; } }
/* Tablets and small devices < 768px */
@media screen and (max-width: 768px) {
  /* Header */
  header {
    margin-bottom: 0; }
    header ul {
      width: 100%;
      margin: 0;
      padding: 0; }
      header ul li {
        width: 100%; }
        header ul li a {
          padding: 10px 0; }

  /* Main */
  main {
    padding: 0; }
    main .slider.home a.callToAction {
      display: none; }
    main .services .service > section {
      margin-bottom: 30px; }

  footer {
    margin-top: 0; } }

/*# sourceMappingURL=stile.css.map */
