@import url(https://fonts.googleapis.com/css?family=Raleway:400,700|Montserrat:400,700);
/* Variables */
/* Colors */
/* Fonts */
/* Margins and paddings and whatever */
/* Mixins */
/*-------------------------------------------------*\
	#GENERAL
\*-------------------------------------------------*/
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6em; }

/* Typography */
p, span, a, li {
  font-weight: 400;
  line-height: 1.5;
  text-align: justify; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

/* Misc elements */
.pulsante {
  display: block;
  width: 50%;
  padding: 10px 15px;
  margin: 0 auto;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  background-color: darkgrey; }

img.icon {
  height: 300px;
  width: auto; }

a.link {
  text-decoration: none;
  color: inherit;
  border-bottom: 3px solid #c0e642;
  box-shadow: 0px -5px 0px #c0e642 inset; }
  a.link:hover, a.link:active {
    text-decoration: none;
    color: inherit;
    background: #c0e642 none repeat scroll 0 0; }

i {
  margin-right: 0.6em; }

.circle {
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  margin: 0.5em auto;
  border-radius: 50%;
  background-color: #8EB410;
  color: white;
  font-size: 2.4em;
  font-weight: bold; }
  .circle.gray {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin: 0.5em auto;
    border-radius: 50%;
    background-color: darkgrey; }
  .circle + p {
    text-align: center; }

label {
  width: 100%; }

select, input[type=email], input[type=text] {
  width: 100%;
  padding: 5px;
  line-height: 26px;
  font-size: 1.4em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
  @media (max-width: 360px) {
    select, input[type=email], input[type=text] {
      margin-bottom: 1em; } }

input[type=email], input[type=text] {
  border: 0;
  padding: 7px; }

input[type=submit] {
  display: block;
  margin: 2em auto;
  margin-bottom: 0;
  border: none;
  border-radius: 5px;
  padding: 1em;
  background-color: #8EB410;
  color: white;
  font-weight: 700;
  font-size: 1.6em; }

#result {
  display: none;
  text-align: center;
  font-size: 1.6em;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 1em;
  padding: 0.3em 0.5em;
  border-radius: 0.2em; }
  #result.success {
    color: green; }
  #result.error {
    color: red; }

.hvr-bounce-to-bottom {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c0e642;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white; }

.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

/*-------------------------------------------------*\
    #HEADER
\*-------------------------------------------------*/
header #logo h2 {
  margin-top: 0.3em;
  margin-left: 0.3em; }
header #logo img {
  width: 390px;
  padding-top: 1.2em; }
header nav {
  overflow: hidden; }
header ul {
  list-style-type: none;
  float: right;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  header ul li {
    float: left; }
    header ul li a {
      display: block;
      padding: 72px 20px;
      color: #6B5F51;
      font-size: 1em;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none; }
      header ul li a:hover, header ul li a.link:active {
        text-decoration: none;
        color: white; }
      header ul li a:hover:not(.active), header ul li a.link:not(.active):active {
        color: #527800;
        background-color: #E8FFDF; }
header .active {
  background-color: #8EB410;
  color: white; }

/*-------------------------------------------------*\
    #MAIN
\*-------------------------------------------------*/
main h1.titolo {
  text-align: left; }
main .header-servizi {
  text-align: center;
  margin: 0 auto;
  background-image: url(../img/servizi.png);
  background-repeat: no-repeat; }
  main .header-servizi + main h2 {
    text-align: center; }
  main .header-servizi.web {
    height: 118px;
    width: 112px;
    background-position: 0% 0%; }
  main .header-servizi.brochure {
    height: 118px;
    width: 112px;
    background-position: 19.6% 0%; }
  main .header-servizi.sondaggi {
    height: 118px;
    width: 112px;
    background-position: 39.6% 0%; }
  main .header-servizi.seo {
    height: 118px;
    width: 112px;
    background-position: 59.6% 0%; }
  main .header-servizi.newsletter {
    height: 118px;
    width: 112px;
    background-position: 79.6% 0%; }
  main .header-servizi.training {
    height: 118px;
    width: 112px;
    background-position: 99.2% 0%; }
main #map {
  border-top: 2px rgba(142, 180, 16, 0.3) solid;
  border-bottom: 2px rgba(142, 180, 16, 0.3) solid;
  height: 350px; }
main .slider {
  height: 350px; }
  main .slider .motto {
    position: relative;
    top: 10%; }
    main .slider .motto h1 {
      font-size: 2.5em;
      color: #fff;
      text-shadow: 3px 3px 1px #6A5F51; }
    main .slider .motto p {
      font-size: 1.6em;
      font-weight: 700;
      color: white; }
  main .slider.home {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/slideHome.jpg);
    background-size: 100%;
    background-repeat: no-repeat; }
    main .slider.home a {
      display: block;
      text-align: center;
      width: 60%;
      border-radius: 5px;
      border: 5px #8EB410 solid; }
      main .slider.home a.callToAction {
        background-color: #8EB410;
        padding: 15px 20px;
        margin-top: 2em;
        color: white;
        font-size: 1.3em;
        font-weight: 700; }
      main .slider.home a:hover, main .slider.home a.link:active {
        text-decoration: none;
        background-color: white;
        border: 5px #8EB410 solid;
        color: #8EB410; }
main .tabella {
  background-color: #c0e642;
  padding: 3em 0; }
  main .tabella h3 {
    margin-top: 0; }
main .risultati {
  text-align: center; }
  main .risultati h2 {
    font-size: 5em; }
main .services {
  background-color: #fff; }
  main .services .fa {
    color: #8EB410;
    font-size: 10em; }
  main .services .head {
    text-align: center; }
  main .services .service {
    padding: 3em;
    text-align: justify; }
    main .services .service h2 {
      text-align: left; }
    main .services .service .service-img {
      text-align: center; }
  main .services section.riquadro section {
    text-align: center;
    border: 1px rgba(106, 95, 81, 0.5) solid;
    padding: 3em 3em;
    border-radius: 5px; }
    main .services section.riquadro section p {
      text-align: justify; }

/*-------------------------------------------------*\
    #FOOTER
\*-------------------------------------------------*/
footer, footer a {
  text-align: center;
  color: white;
  background-image: url("../img/black_pattern.png");
  padding: 3em 0; }
  footer p {
    text-align: center; }
  footer a {
    color: #8EB410;
    padding: 0; }
    footer a:hover, footer a.link:active {
      text-decoration: none;
      font-weight: 700;
      color: #8EB410; }
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    footer ul.services li {
      text-align: center; }
    footer ul.vertical li {
      display: inline-block;
      padding-top: 0;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 0; }

/*-------------------------------------------------*\
    #MEDIA QUERIES
\*-------------------------------------------------*/
/* Smartphones */
@media screen and (max-width: 360px) {
  /* Header */
  header ul {
    width: 100%; }
    header ul li {
      width: 100%; }
      header ul li a {
        padding: 10px 0; }
  header #logo h2 {
    text-align: center;
    margin-left: 0;
    font-size: 1.6em; }
  header #logo img {
    width: 100%;
    display: block;
    margin: 0 auto; }

  /* Main */
  main img.icon {
    text-align: center;
    width: 100%;
    height: auto; }
  main .slider {
    height: auto;
    background-size: 100% auto;
    background-position: center top; }
    main .slider .motto {
      top: -3%; }
      main .slider .motto h1 {
        font-size: 2.2em; }
      main .slider .motto p {
        font-size: 1.5em;
        line-height: 1; }
    main .slider.home {
      background-size: cover;
      background-position: center; }
      main .slider.home a.callToAction {
        display: none; }

  /* Footer */
  footer h3 {
    margin-top: 45px; } }
/* Tablets and small devices < 768px */
@media screen and (min-width: 361px) and (max-width: 768px) {
  /* Header */
  header {
    margin-bottom: 0; }
    header #logo {
      text-align: center; }
      header #logo h2 {
        margin-left: 0; }
      header #logo img {
        width: 100%;
        max-width: 390px; }
    header ul {
      width: 100%;
      margin: 0;
      padding: 0; }
      header ul li {
        width: 50%;
        text-align: center; }
        header ul li a {
          padding: 10px 0; }

  /* Main */
  main {
    padding: 0; }
    main .slider .motto {
      top: 30%; }
      main .slider .motto p {
        line-height: 1; }
    main .slider.home {
      background-position: center;
      background-size: cover;
      height: 350px; }
      main .slider.home a.callToAction {
        display: none; }
    main #map {
      height: 200px;
      margin-bottom: 2em; }
    main .services .service > section {
      margin-bottom: 2em; }

  footer, footer a {
    margin-top: 0; } }

/*# sourceMappingURL=stile.css.map */
