@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Dosis:400,700);

/*-------------------------------------------------*\
	#GENERAL
\*-------------------------------------------------*/

/* Typography */
p, span, a, li {
	font-family: "Lato", sans-serif;
	font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Dosis", sans-serif;
	font-weight: 700;

}





/*-------------------------------------------------*\
	#HEADER
\*-------------------------------------------------*/

header {

}

header #logo img {
	width: 100%;
}

header nav {
	overflow: hidden;
}

header ul {
	list-style-type: none;
	float: right;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

header ul li  {
	float: left;
}

header ul li a {
	display: block;
	padding: 60px 20px;
	color: #6B5F51;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}

header ul li a:hover {
	text-decoration: none;
	color: white;
}

header li a:hover:not(.active) {
    background-color: #6CBD45;
}

header .active {
    background-color: #4CAF50;
    color: white;
}





/*-------------------------------------------------*\
	#MAIN
\*-------------------------------------------------*/

main {
	padding-bottom: 30px;
}

.slider {
	height: 500px;
}

.slider .motto {
	position: relative;
	top: 10%;
}

.slider .motto h1, .slider p {
	color: white;
}

.slider .motto h1 {
	font-size: 5em;
	color: #6CBD45;
}

.slider .motto p {
	font-size: 2em;
	font-weight: 700;
}

.slider.home{
	background: 
              linear-gradient(
                     rgba(0, 0,0, 0.60), 
                     rgba(0, 0, 0, 0.60)
              ),
              url(/img/slideHome.jpg);
       -webkit-background-size: 100%;
       background-size: 100%;
       background-repeat: no-repeat;
}

.services {
	text-align: justify;
}

.services .fa{
	color: #6CBD45;
	font-size: 10em;
}

.services .head {
	text-align: center;
}





/*-------------------------------------------------*\
	#FOOTER
\*-------------------------------------------------*/

footer {
	text-align: center;
	background-color: darkgrey;
	margin-top: 20px;
	padding: 30px 0;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}





/*-------------------------------------------------*\
	#MEDIA QUERIES
\*-------------------------------------------------*/

/* Smartphones and small devices < 768px */ 
@media screen and (max-width: 768px) {
	
	/* Header */
	header {
		margin-bottom: 0;
	}

	header ul {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	header ul li {
		width: 100%;
	}

	header ul li a {
		padding: 5px 0;
	}
	/* Main */

	main {
		padding: 0;
	}

	.slider {
		height: 300px;
		background-size: 100% auto;
	}
}