@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Dosis:400,700);

/*-------------------------------------------------*\
	#GENERAL
\*-------------------------------------------------*/

/* Typography */
p, span, a {
	font-family: "Montserrat", sans-serif;
	font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Dosis", sans-serif;
	font-weight: 700;

}

/*-------------------------------------------------*\
	#HEADER
\*-------------------------------------------------*/

header {
	margin-bottom: 30px;
	margin-top: 30px;
}

header #logo img {
	width: 100%;
}

header ul {
	list-style-type: none;
	float: right;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

header ul li  {
	float: left;
}

header ul li a {
	display: block;
	padding: 20px 20px;
	color: black;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}

header ul li a:hover {
	text-decoration: none;
	color: white;
}

header li a:hover:not(.active) {
    background-color: #111;
}

header .active {
    background-color: #4CAF50;
    color: white;
}




/*-------------------------------------------------*\
	#MAIN
\*-------------------------------------------------*/

.slider {
	height: 450px;
}

.slider.home{
	background: 
              linear-gradient(
                     rgba(0, 0,0, 0.60), 
                     rgba(0, 0, 0, 0.60)
              ),
              url(/img/slideHome.jpg);
       -webkit-background-size: 100%;
       background-size: 100%;
       background-repeat: no-repeat;
}

.services .fa{
	color: green;
	font-size: 7em;
}




/*-------------------------------------------------*\
	#MEDIA QUERIES
\*-------------------------------------------------*/


/* Smartphones and small devices < 768px */ 
@media screen and (max-width: 768px) {
	
	/* Menu */
	header ul {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	header ul li {
		width: 100%;
	}

	/* Main */
	.slider {
		display: none;
	}
}